<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.play_the_piano.quiz.repository.QuizRepository">

  <insert id="createQuiz" useGeneratedKeys="true" keyProperty="id"  >
    INSERT INTO quiz (title,content,user_id, deleted,quiz_level,answer, created_at, modified_at)
    VALUES (#{title}, #{content}, #{user.id},#{deleted},#{quizLevel},#{answer}, NOW(), NOW())
  </insert>

  <insert id="createCompleteQuiz" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO complete_quiz (created_at, modified_at, quiz_id, user_id)
    VALUES (NOW(),NOW(),#{quiz.id},#{user.id})
  </insert>
  <update id="updateContent">
    UPDATE quiz
    SET content = #{content}
    WHERE id = #{id}
  </update>
  
  <select id="getQuizzesByQuizLevel" parameterType="map" resultType="com.example.play_the_piano.quiz.dto.QuizzesResponseDto">
    SELECT id,title,quiz_level
    FROM quiz
    WHERE deleted = 'UNDELETE' and quiz_level = #{quizLevel}
    ORDER BY created_at
    LIMIT #{offset}, #{limit}
  </select>

  <select id="getQuizById" parameterType="Long" resultType="com.example.play_the_piano.quiz.dto.QuizResponseDto">
    SELECT id,title,content,answer,quiz_level
    FROM quiz
    WHERE deleted = 'UNDELETE' and id = #{id}
  </select>

  <select id="getTotalQuizzesCountByQuizLevel" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM quiz
    WHERE quiz_level = #{quizLevel} and deleted = 'UNDELETE'
  </select>

  <select id="loadQuizzesByQuizEnum" parameterType="String" resultType="com.example.play_the_piano.quiz.dto.LoadQuizResponseDto">
    SELECT id,title,content,quiz_level
    FROM quiz
    WHERE quiz_level = #{quizLevel} and deleted = 'UNDELETE'
  </select>

  <select id="checkAnswer" parameterType="com.example.play_the_piano.quiz.dto.AnswerQuizRequestDto" resultType="com.example.play_the_piano.quiz.dto.AnswerQuizResponseDto">
      SELECT id,
      quiz_level as quizLevel,
      IF(answer = #{answer}, true, false) AS isCorrect
      FROM quiz
      WHERE id = #{id} and deleted = 'UNDELETE'
  </select>

  <select id="getCompleteQuizzes" parameterType="map" resultType="com.example.play_the_piano.quiz.dto.CompleteQuizResponseDto">
    SELECT q.id AS id
    FROM complete_quiz cq JOIN quiz q ON cq.quiz_id = q.id
    WHERE cq.user_id=#{id} and q.quiz_level = #{quizLevel} and q.deleted = 'UNDELETE'
  </select>

  <select id="getCompleteQuiz" parameterType="map" resultType="boolean">
    SELECT IF(COUNT(id)>0,true,false) AS isCorrect
    FROM complete_quiz
    WHERE user_id=#{userId} and quiz_id=#{quizId}
  </select>


  <select id="getNextQuiz" parameterType="map" resultType="com.example.play_the_piano.quiz.dto.CurrentQuizResponseDto">
    SELECT id,title,content,quiz_level as quizLevel
    FROM quiz
    WHERE id>#{id} and quiz_level = #{quizLevel} and deleted = 'UNDELETE'
  </select>


</mapper>
