<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.play_the_piano.s3file.repository.S3FileRepository">
  <insert id="createS3File" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO s3file (url,post_id,created_at, modified_at)
    VALUES (#{url},#{post.id} , NOW(), NOW())
  </insert>

  <select id="getPostFile" parameterType="Long" resultType="String">
    SELECT url
    FROM s3file
    WHERE id=#{id} and deleted='UNDELETE'
  </select>

  <update id="deleteFile" parameterType="Long">
    UPDATE s3file
    SET
        deleted = 'DELETE'
    WHERE id=#{id}
  </update>

  <select id="getPostFileByPostId" parameterType="Long" resultType="String">
    SELECT url
    FROM s3file
    WHERE s3file.post_id = #{id}
      and type_enum = 'FILE'
      and deleted = 'UNDELETE'
  </select>

  <select id="getPostImageByPostId" parameterType="Long" resultType="String">
    SELECT url
    FROM s3file
    WHERE s3file.post_id = #{id}
      and type_enum = 'IMAGE'
      and deleted = 'UNDELETE'
  </select>


  <delete id="removeImage" parameterType="Long">
    DELETE FROM s3file
    WHERE s3file.post_id=#{id} and type_enum='IMAGE' and deleted='UNDELETE'
  </delete>

  <delete id="removeFile" parameterType="Long">
    DELETE FROM s3file
    WHERE s3file.post_id=#{id} and type_enum='FILE' and deleted='UNDELETE'
  </delete>

</mapper>