<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.play_the_piano.s3file.repository.S3FileRepository">

  <insert id="createS3File" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO s3file (url,deleted,type_enum,created_at, modified_at)
    VALUES (#{url},#{deleted},#{typeEnum},NOW(), NOW())
  </insert>

  <insert id="createS3FileRelation" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO s3file_relation (object_id, object_enum, file_id)
    VALUE (#{objectId},#{objectEnum},#{file.id})
  </insert>
  
  <select id="getFile" parameterType="map" resultType="String">
    SELECT s.url
    FROM s3file_relation sr
    JOIN s3file s on sr.file_id = s.id
    WHERE s.deleted='UNDELETE' and sr.object_enum = #{objectEnum} and sr.object_id = #{objectId} and s.type_enum = #{typeEnum}
  </select>

  <delete id="deleteS3FileRelation" parameterType="map">
    DELETE FROM s3file_relation
    WHERE object_enum = #{objectEnum}
      AND object_id = #{objectId}
  </delete>

  <delete id="deleteFile" parameterType="map">
    DELETE FROM s3file
    WHERE id IN (
      SELECT file_id
      FROM s3file_relation
      WHERE object_enum = #{objectEnum}
        AND object_id = #{objectId}
        AND type_enum = #{typeEnum}
    )
  </delete>

  <update id="softDeleteFile" parameterType="map">
    UPDATE s3file s JOIN s3file_relation sr ON s.id = sr.file_id
    SET
        deleted = 'DELETE'
    WHERE sr.object_enum = #{objectEnum} and sr.object_id = #{objectId}
  </update>



</mapper>