<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.example.mapper.UserMapper">

  <select id="findByUsername" resultType="com.example.play_the_piano.user.entity.User">
    SELECT * FROM users WHERE username = #{username}
  </select>

  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (username, password, email)
    VALUES (#{username}, #{password}, #{email})
  </insert>

  <delete id="deleteUser">
    DELETE FROM users WHERE id = #{id}
  </delete>
</mapper>
